.popular_row {
  display: block;
  width: 100%;
  height: 28rem;
  max-width: 80vw;
}
.popular__products {
  display: flex;

  justify-content: space-around;
  align-items: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 60px;
}
