.popular_row {
  width: 100%;
  height: 26rem;
}
.popular__products {
  display: flex;

  justify-content: space-around;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  padding: 0 60px;
}
